PORT=4002

# DB_HOST=host.docker.internal
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=creatorpay_user

# REDIS_HOST=redis
# REDIS_PORT=6379
REDIS_HOST=localhost 
REDIS_PORT=6380 

# DATABASE_URL=postgres://postgres:postgres@host.docker.internal:5432/creatorpay_user
DATABASE_URL=postgres://postgres:postgres@localhost:5432/creatorpay_user

JWT_SECRET=supersecretkey